portage:
    emerge:
        options:
            items:
                - portage
                - portage-utils
                - gentoolkit
                - layman
                - eix
            update: true
            new_use: true
        file_in: /usr/portage/metadata/timestamp
        token_out: emerge-portage

build_tools:
    emerge_devel:
        token_in: emerge-portage
        token_out: emerge-devel

kernel:
    emerge_kernel:
        token_in: emerge-devel
        token_out: emerge-kernel

    emerge:
        options:
            items: "@module-rebuild @x11-module-rebuild"
            update: true
            new_use: true
        token_in: emerge-kernel
        token_out: emerge-kernel-modules

system:
    installed_fetch:
        clean:
            emerge:
                options:
                    depclean: true
                    ignore_errors: true
                token_in: emerge-portage
                token_out: system-fetch-clean

        emerge:
            options:
                items: "@world"
                fetch: true
                update: true
                new_use: true
            file_in:
                - /etc/portage/make.conf
                - /etc/portage/package.accept_keywords/*
                - /etc/portage/package.mask/*
                - /etc/portage/package.use/*
            token_in: system-fetch-clean
            token_out: installed-packages-fetch

    installed_upgrade:
        emerge:
            options:
                items: "@world"
                update: true
                new_use: true
                keep_going: true
            token_in:
                - emerge-devel
                - installed-packages-fetch
            token_out: installed-packages-upgrade

    all_fetch:
        emerge:
            options:
                items: "@world"
                fetch: true
                update: true
                new_use: true
                deep: true
            token_in: installed-packages-upgrade
            token_out: all-packages-fetch

        distfiles_clean:
            token_in: all-packages-fetch
            token_out: distfiles-clean

    all_upgrade:
        emerge:
            options:
                items: "@world"
                update: true
                new_use: true
                deep: true
                keep_going: true
            token_in: all-packages-fetch
            token_out: all-packages-upgrade

        clean:
            emerge:
                options:
                    depclean: true
                token_in: all-packages-upgrade
                token_out: system-upgrade-clean

        rebuild:
            emerge:
                options:
                    items: "@preserved-rebuild"
                token_in: system-upgrade-clean
                token_out: system-upgrade-rebuild


eix:
    emerge:
        options:
            items: eix
            update: true
            new_use: true
        file_in: /usr/portage/metadata/timestamp
        raw_file_out: /usr/bin/eix
        token_out: emerge-eix

    eix_update:
        token_in:
            - emerge-eix
            - emerge-portage
        token_out: eix-update
